<div class="section">
  <div class="container">
  <div class="row">

    <h2 style="text-align: center"><%=review.name%></h2>
    <div class="center-align">
    <img class="img-responsive" src="<%= review.imageUrl %>" style="height:400px;">
    </div>
    <div class="caption-full">
      <p><%= review.description %></p>
      <p><em>Submitted by: <%= review.author.username %>, <%=
	moment(review.createdAt).fromNow() %></em></p>
    </div>

    <% if(user){ %>

      <div style="display:flex">
        <a href="/reviews/edit/<%=review._id%>" class="btn btn-xs btn-warning">EDIT</a>
        <form action="/reviews/delete/<%= review._id %>" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
        <div class="pull-right">
          <a class="btn btn-success" href="/comments/new/<%= review._id %>"> Add New Comment</a>
        </div>
      </div>
    <% } %>

      <hr>
      <% review.comments.forEach(function(comment){ %>
         <% include _comments %>
      <% }) %>
  </div>
  </div>
</div>
