<div class="section">
  <div class="container">
  <div class="row">

    <h2 style="text-align: center"><%=review.name%></h2>
    <div class="center-align">
    <img class="img-responsive" src="<%= review.imageUrl %>" style="height:400px;">
    </div>
    <div class="caption-full">
      <p><%= review.description %></p>
      <p><em>Submitted by: <%= review.author.username %>, <%= review.createdAt %></em></p>
    </div>

    <% if(user){ %>

      <div style="display:flex">
        <a href="/reviews/edit/<%=review._id%>" class="btn btn-xs btn-warning">EDIT</a>
        <form action="/reviews/delete/<%= review._id %>" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
        <div class="pull-right">
          <a class="btn btn-success" href="/comments/new/<%= review._id %>"> Add New Comment</a>
        </div>
      </div>

    <% } %>

      <hr>

      <% review.comments.forEach(function(comment){ %>
      <div class="row">
        <div class="col-md-12">
          <strong><%= comment.author.username %></strong>
          <div>
           <%= comment.comment%> 
           <% if(user) { %>
            <div class="pull-right">
            <div style="display:flex">
              <form class="edit-form" action="/comments/edit/<%= review._id %>" method="POST">
	        <input type="hidden" name="commentId" value="<%= comment._id %>">
	        <input type="hidden" name="comment" value="<%= comment.comment %>">
                <button class="btn waves-effect waves-light">EDIT</button>
              </form>

              <form class="delete-form" action="/comments/delete/<%=review._id%>" method="POST">
                <input type="hidden" name="commentId" value="<%= comment._id %>">
                <input type="hidden" name="reviewId" value="<%= review._id %>">
                <button class="btn waves-effect waves-light">DELETE</button>
              </form>
            </div>
            </div>

           <% } %>
          </div>
        </div>
        <br>
        <hr>
      </div>
      <% }) %>

  </div>
  </div>
</div>
